
/* Estilo do menu de navegação */

body{
background-image: url(https://wallpapers.com/images/hd/mega-man-pixel-art-pqphdgd0q7y5wot3.jpg);
background-size: cover;
}
nav {
background-color: rgb(129, 194, 255); /* Cor de fundo do menu */ padding: 10px 0; /* Espaçamento interno */
}
nav ul {
list-style-type: none; /* Remove as bolinhas padrão da
lista */
margin: 0;
padding: 0;
display: flex; /* Faz com que os itens fiquem lado a lado (horizontal) */ justify-content: center; /* Centraliza os itens horizontalmente */ 
}
nav ul li {
margin: auto 15px; /* Espaçamento entre os itens do menu */
}
nav ul li a {
color: white; /* Cor do texto dos links */
text-decoration: none; /* Remove o sublinhado dos links */
font-size: 18px; /* Tamanho da fonte */
transition: color 0.3s; /* Transição suave para a mudança de cor */
font-family: 'Courier New', Courier, monospace;
}
nav ul li a:hover {
color: #ff6347; /* Cor do texto ao passar o mouse (hover)*/
}